<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fort Notsosecurex</title>
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" />
    <link href="{% static 'bootstrap-3.1.1-dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

    <script src="{% static 'scripts/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.1.1-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div id="main-wrapper" class="container container-base">
        {% block main %}{% endblock %}
        {% if messages %}
            <div class="col-md-7 messages">
                <ul class="list-group">
                    {% for message in messages %}
                        <li class="list-group-item{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>