{%  extends 'base.html' %}

{% block main %}
    <h2>Login</h2>
    <form class="form form-horizontal" action="/login/" method="post">
        <div class="form-group">
            <div class="col-md-2">
                <label for="username">Username</label>
                <input type="text" style="width=50pt!important;" autofocus="true" class="form-control" id="username" name="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
        <a href="/register/" class="btn btn-default">Register</a>
    </form>
{% endblock %}