{%  extends 'base.html' %}

{% block main %}
    <div class="row content">
        <div class="col-xs-6 col-md-4">
            <div class="login-form">
                <h2>Login</h2>
                <form id="login-form" action="/login/" method="post">
                    <fieldset>
                        <div class="clearfix">
                            <input autofocus id="username" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="clearfix">
                            <input id="password" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Sign in" />
                        <a id="register-link" href="/register/" class="btn btn-link">Register</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}