{%  extends 'base.html' %}

{% block content %}
    <div class="row content">
        <div class="span4 offset3">
            <div class="register-form">
                <h2>Register</h2>
                <form id="register-form" action="/register/" method="post">
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <fieldset>
                        <div class="clearfix">
                            <input autofocus id="username" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="clearfix">
                            <input id="password" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Register" />
                        <a id="login-link" href="/login/" class="btn btn-link">Sign in</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}