{%  extends 'base.html' %}

{% block main %}
    <div class="row content">
        <div class="col-xs-6 col-md-4">
            <div class="register-form">
                <h2>Register</h2>
                <form id="register-form" action="/register/" method="post">
                    <fieldset>
                        <div class="clearfix">
                            <input autofocus id="username" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="clearfix">
                            <input id="password" type="password" name="password" placeholder="Password">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Register" />
                        <a id="login-link" href="/login/" class="btn btn-link">Sign in</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}