body {
    margin-top: 20pt!important;
}

.error  {
    font-weight: bold!important;
    color: red!important;
}

.success {
    font-weight: bold!important;
    color: green!important;
}

.messages {
    margin-top: 12pt;
    margin-left: -12pt;
}