body {
    margin-top: 20px!important;
}

.error  {
    font-weight: bold!important;
    color: red!important;
}

.success {
    font-weight: bold!important;
    color: green!important;
}

.messages {
    margin-top: 20pt;
}